<nav class="navbar-cont">
    <div class="container">
        <span class="logo"><a routerLink="/products">
                <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg "
                    alt="" style="width: 160px ; height: 40px;">
            </a>
        </span>
        <form class="d-flex" role="search">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="form-control me-2" type="search"
                    placeholder=" &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Search for Products, Brands and More"
                    aria-label="Search" [(ngModel)]="searchTerm" (keyup)="search($event)" name="search" id="search">
            </div>
        </form>

        <div class="login" routerLink="login">
            <button class="btn"><i class="far fa-user"></i></button>
            <p class="p-login">Login</p>
        </div>
        <span class="cart" routerLink="cart">
            <button class="btn">
                <i style="font-size: 1.2rem;" class="fas fa-cart-plus"></i>
                <div style="font-size: 7px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
            <p class="p-cart">Cart</p>
        </span>
        <span class="seller"><button class=" btn"><i class='fas fa-store-alt'></i></button>
            <p class="p-seller">Become a
                Seller</p>
        </span>
        <span class="dots">
            <button class="btn">
                <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_3verticalDots-ea7819.svg"
                    alt="" style="width: 24px;height: 24px;">
            </button>

        </span>
        <span class="menu-bar"><i class="fa-solid fa-bars"></i></span>


    </div>


</nav>