<nav class="navbar-cont">
    <div class="container">
        <label class="menu-bar" for="checkbox"><i class="fa-solid fa-bars"></i></label>
        <input type="checkbox" id="checkbox">
        <span class="logo"><img src="../../../assets/Images/png-clipart-logo-flipkart.png" alt=""
                style="width: 8.5rem;;">
        </span>
        <form class="d-flex" role="search">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="form-control me-2" type="search"
                    placeholder="  &nbsp; &nbsp; &nbsp; Search for Products, Brands and More" aria-label="Search">
            </div>
        </form>

        <div class="login">
            <button class="btn"><i class="far fa-user"></i></button>
            <p class="p-login">Login</p>
        </div>
        <span class="cart">
            <button class="btn">
                <i style="font-size: 1.2rem;" class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge bg-danger">5</div>
            </button>
            <p class="p-cart">Cart</p>
        </span>
        <span class="seller"><button class=" btn"><i class='fas fa-store-alt'></i></button>
            <p class="p-seller">Become a
                Seller</p>
        </span>
        <span class="dots">
            <button class="btn">
                <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_3verticalDots-ea7819.svg"
                    alt="">
            </button></span>
    </div>


</nav>