nav {
  position: fixed;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  z-index: 10;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.form-control {
  position: relative;
  width: 41vw;
}

input {
  margin-left: 2rem;
  color: transparent;
}
.cart {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.p-cart {
  padding-top: 0.9rem;
}
.login {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.p-login {
  padding-top: 0.9rem;
}

.input-search {
  position: relative;
}

.search input {
  position: relative;
  font-size: 1rem;
  padding: 0.6rem;
  background-color: transparent;
}
.fa-solid {
  position: absolute;
  font-size: 1.4rem;
  margin-left: 3rem;
  margin-top: 0.8rem;
  color: rgb(137, 145, 145);
}

.seller {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.p-seller {
  padding-top: 0.9rem;
}
.seller button {
  font-size: 1.2rem;
  /* color: white; */
}
.login button {
  font-size: 1.2rem;
  /* color: white; */
}
.menu-bar {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 425px) {
  .menu-bar {
    display: block;
    padding-left: 2rem;
  }
  .form-control {
    display: none;
  }
  .fa-solid {
    display: none;
  }
  .p-cart {
    display: none;
  }
  .p-seller {
    display: none;
  }
  .p-login {
    display: none;
  }
  .dots {
    display: none;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .menu-bar {
    display: block;
  }
  .form-control {
    display: none;
  }
  .fa-solid {
    display: none;
  }
  .p-cart {
    display: none;
  }
  .p-seller {
    display: none;
  }
  .p-login {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p-cart {
    display: none;
  }
  .p-seller {
    display: none;
  }
  .p-login {
    display: none;
  }
}
@media screen and(min-width:1025px) {
  .container {
    width: auto;
  }
}
