<div class="container">
    <div class="login-container">
        <div class="login-card">
            <p style="font-size: 28px;font-weight: 500;">Login</p>
            <span>Get access to your Orders, Wishlist and Recommendations</span><br>
            <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png"
                alt="">
        </div>
        <div class="form-container">
            <form [formGroup]="loginform" (ngSubmit)="submitLogin()">
                <input type="email" placeholder="Enter Email / Mobile Number" formControlName="email"><br>
                <input type="password" placeholder="Enter your Password" formControlName="password"><br>
                <p>By continuing, you agree to Flipkart's</p>
                <p>if you have not account then <a routerLink="/signup">signUp</a></p>
                <button> Login</button>
            </form>
        </div>
    </div>
</div>