.card-top {
  padding-top: 6rem;
  display: grid;
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
  grid-template-columns: repeat(10, 1fr);
}
.item img {
  width: 64px;
}
.item {
  margin: 0 1.5rem;
  text-align: center;
}
.item a:hover {
  color: blue;
}
/* here the bottom slider code */
.head-prod1 {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.slider-wrapper .card-cont {
  display: grid;
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
  grid-template-columns: repeat(20, 1fr);
}
.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-btn {
  position: absolute;
  top: 50%;
  height: 80px;
  width: 50px;
  color: #000;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transform: translateY(-50%);
}

.slider-wrapper .slide-btn:hover {
  background-color: rgb(70, 70, 69);
  opacity: 0.5;
  color: #fff;
}

.slider-wrapper .slide-btn#prev-slide {
  left: -50px;
}
.slider-wrapper .slide-btn#next-slide {
  right: -50px;
}

.slider-wrapper .card-cont::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .card-cont .card {
  width: 200px;
  height: 250px;
  text-align: center;
}
.slider-wrapper .card-cont .card h5,
p {
  padding-left: 20px;
  padding-right: 20px;
}
.slider-wrapper .card-cont .card img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 50px;
  padding-bottom: 15px;
}
.slider-wrapper .card-cont .card img:hover {
  transform: scale(1.1);
}
.container-card {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container-slide {
  max-width: 1300px;
  width: 100%;
  padding-left: 1.2%;
}
.container-slide .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  position: relative;
  height: 2px;
  width: 100%;
  background: #ccc;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
